    <%= simple_form_for(@free_trial) do |f| %>
      <%= f.error_notification %>

      <div class="">
        <%= f.input :first_name, class: 'expanded' %>
        <%= f.input :last_name, class: 'expanded' %>
        <%= f.input :email, class: 'expanded', type: 'email' %>
        <%= f.input :phone, class: 'tel expanded', placeholder: 'Optional', type: 'tel' %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, class: 'button expand', placeholder: 'Start Your Free Trial' %>
      </div>
    <% end %>