<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @free_trial.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @free_trial.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @free_trial.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @free_trial.phone %>
</p>

<%= link_to 'Edit', edit_free_trial_path(@free_trial) %> |
<%= link_to 'Back', free_trials_path %>
