<!-- NOTE: the casein:scaffold generator automatically appends new controllers to this file. The SCAFFOLD_INSERT line must NOT be removed -->
<!-- SCAFFOLD_INSERT -->
<li id="tab-workouts"><%= link_to "Workouts", casein_workouts_path %></li>
<li id="tab-blogs"><%= link_to "Blogs", casein_blogs_path %></li>
<li id="tab-groupclasses"><%= link_to "Group Classes", casein_groupclasses_path %></li>
<li id="tab-gc_schedules"><%= link_to "Group Class Schedules", casein_gc_schedules_path %></li>
<li id="tab-cf_schedules"><%= link_to "CrossFit Schedules", casein_cf_schedules_path %></li>
<li id="tab-staffs"><%= link_to "Staff", casein_staffs_path %></li>