<% content_for :title, "CrossFit Pricing | CrossFit Interchange" %>
<% content_for :description , "Crossfit Interchange has a flexible pricing plan and offers discounts to military, first responders and students." %>
<% content_for :css, 'pricing.css' %>
<!-- Hero -->
<section class="hero_price">
  <div class="row price_hero_text">
    <div class="small-6 large-centered columns"><h1 class="text-center">CrossFit Pricing</h1></div>
  </div>
</section>
  <div class="price_header">
    <h1 class="text-center">CrossFit Pricing</h1>
  </div>
<!-- Standard Pricing -->
<div class="row">
  <div class="column medium-4">
    <ul class="pricing-table no-bullet text-center">
      <li class="title">One Year Paid Monthly</li>
      <li class="price">$120<span> per month</span></li>
      <li class="description">Unlimited Classes!</li>
      <li>All CrossFit Classes</li>
      <li>All Group Classes</li>
      <li>Great Community</li>
      <li class="cta-button"><%= link_to'Click for a Free Trial!', free_trials_path, :class => "button"  %></li>
    </ul>
  </div>

  <div class="column medium-4">
    <ul class="pricing-table no-bullet text-center recommended">
      <li class="best"><span>Best Deal</span></li>
      <li class="title">One Year, Paid Up Front</li>
      <li class="price">$1290<span> per year</span></li>
      <li class="description">Absolutely Everything</li>
      <li>All Classes, CrossFit &amp; Group Classes</li>
      <li>Save $150 (It's like 5 weeks free)</li>
      <li>Great Use of Your Tax Return</li>
      <li class="cta-button"><%= link_to'Click for a Free Trial!', free_trials_path, :class => "button"  %></li>
    </ul>
  </div>

  <div class="column medium-4">
    <ul class="pricing-table no-bullet text-center">
      <li class="title">Month-to-Month</li>
      <li class="price">$140<span> per month</span></li>
      <li class="description">A great way to get started</li>
      <li>All Classes</li>
      <li>No Contract, All the Fun</li>
      <li class="cta-button"><%= link_to'Click for a Free Trial!', free_trials_path, :class => "button"  %></li>
    </ul>
  </div>
</div>
<br />
<br />
<!-- Special Pricing -->
<p class="text-center"><a data-open="specialPricing">Military &amp; First Responders, Students, Seniors &amp; Families </a></p>
<p class="text-center"><a data-open="dropinpunchpasspricing">Drop In &amp; Punch Pass </a></p>
<!-- military -->
<div class="large reveal" id="specialPricing" data-reveal>
  <div class="row">
    <div class="column medium-4">
      <ul class="pricing-table no-bullet text-center">
        <li class="title">One Year Paid Monthly</li>
        <li>$100<span><br> per month military &amp; first responders</span></li>
        <li>$100<span><br> per month family</span></li>
        <li>$65<span><br> per month seniors</span></li>
        <li>$50<span><br> per month students</span></li>
        <li class="cta-button"><%= link_to'Click for a Free Trial!', free_trials_path, :class => "button"  %></li>
      </ul>
    </div>

    <div class="column medium-4">
      <ul class="pricing-table no-bullet text-center recommended">
        <li class="best"><span>Best Deal</span></li>
        <li class="title">One Year, Paid Up Front</li>
        <li>$1,080<span><br>per year military &amp; first responders</span></li>
        <li>$780<span><br>per year seniors</span></li>
        <li>$600<span><br>per year students</span></li>
        <li class="cta-button"><%= link_to'Click for a Free Trial!', free_trials_path, :class => "button"  %></li>
      </ul>
    </div>

    <div class="column medium-4">
      <ul class="pricing-table no-bullet text-center">
        <li class="title">Month-to-Month</li>
        
        <li>$120<span><br> per month military &amp; first responders</span></li>
        <li>$120<span><br> per month family</span></li>
        <li>$85<span><br> per month seniors</span></li>
        <li>$75<span><br> per month students</span></li>
        <li class="cta-button"><%= link_to'Click for a Free Trial!', free_trials_path, :class => "button"  %></li>
      </ul>
    </div>
  </div>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<!-- dropin and punch pass -->
<div class="large reveal" id="dropinpunchpasspricing" data-reveal>
  <div class="row">
    <div class="column medium-6">
      <ul class="pricing-table no-bullet text-center">
        <li class="title">Punch Pass</li>
        <li class="price">$150<span> per 10 classes</span></li>
        <li class="cta-button"><%= link_to'Click for a Free Trial!', free_trials_path, :class => "button"  %></li>
      </ul>
    </div>


    <div class="column medium-6">
      <ul class="pricing-table no-bullet text-center">
        <li class="title">Drop In</li>
        <li class="price">$20<span> per class</span></li>
        <li class="cta-button"><%= link_to'Click for a Free Trial!', free_trials_path, :class => "button"  %></li>
      </ul>
    </div>
  </div>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>