  <div class="show-for-medium-up">
  <link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">

      <footer class="footer" class="hide-for-small-only">
    <div class="row">
      <div class="small-12 medium-6 large-5 columns">
        <p class="logo"><i class="fi-shield"></i> CrossFit Interchange</p> 
        <p class="footer-links">
          <%= link_to 'Home', root_path %>
          <%= link_to 'CrossFit', crossfit_path %>
          <%= link_to 'Group Classes', group_classes_path %>
          <%= link_to 'About Us', about_path %>
          <%= link_to 'Contact', contact_path %>
        </p>
        <p class="copywrite">Copyright CrossFit Interchange © 2016</p>
      </div>
      <div class="small-12 medium-6 large-4 columns">
        <ul class="contact">
          <li><p class="foot-links"><a href="https://www.google.com/maps/place/324+Campus+Ln,+Fairfield,+CA+94534/@38.2311641,-122.125176,17z/data=!3m1!4b1!4m2!3m1!1s0x808513cdb30cc299:0x9be60b71d653c80a" target="_blank" ><i class="fi-marker"></i>324 Campus Lane Suite E Fairfield, CA 94534</a></p></li>
          <li><p class="foot-links"><a href="#"><i class="fi-telephone"></i>707-266-9066</a></p></li>
          <li class="show-for-medium"><p class="foot-links"><a href="mailto:info@crossfitinterchange.com"><i class="fi-mail"></i>info@crossfitinterchange.com</a></p></li>
        </ul>
      </div>
      <div class="small-12 medium-12 large-3 columns" ><div class="centerd">
        <a href="http://journal.crossfit.com/start.tpl?version=CFJ-white123x63" target="_blank" title="CrossFit Journal: The Performance-Based Lifestyle Resource"><img src="http://journal.crossfit.com/templates/images/white-125x63.png" width="125px" height="63px" alt="CrossFit Journal: The Performance-Based Lifestyle Resource" /></a>
        <ul class="inline-list social" itemtype="http://schema.org/FollowAction">
          <a href="https://www.facebook.com/CFinterchange"><i class="fi-social-facebook"></i></a>
          <a href="https://instagram.com/crossfit.interchange"><i class="fi-social-instagram"></i></a>
        </ul>
      </div></div>
    </div>
  </footer>
  </div>