<div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle></button>
  <div class="title-bar-title">Menu</div>
  <%= link_to "CrossFit Interchange", root_path, class: 'text-center' %>
</div>

<div class="top-bar" id="main-menu">
  <div class="top-bar-left">
    <ul class="menu" data-responsive-menu="drilldown medium-dropdown">
    <li><%= link_to 'CrossFit Interchange', root_path, class: 'bold menu-nav' %></li>
      <li class="has-submenu">
        <a href="#" class="menu-nav">CrossFit</a>
        <ul class="submenu menu vertical" data-submenu>
          <li><%= link_to 'What Is CrossFit', crossfit_path, class: 'menu-nav' %></li>
          <li><%= link_to 'Schedule', crossfit_schedule_path, class: 'menu-nav' %></li>
          <li><%= link_to 'Pricing', crossfit_pricing_path, class: 'menu-nav' %></li>
        </ul>
      </li>
      <li class="has-submenu">
        <a href="#" class="menu-nav">Group Classes</a>
        <ul class="submenu menu vertical" data-submenu>
          <li><%= link_to 'Group Classes', group_classes_path, class: 'menu-nav' %></li>
          <li><%= link_to 'Class Schedule', group_classes_schedule_path, class: 'menu-nav' %></li>
          <li><%= link_to 'Class Pricing', group_classes_pricing_path, class: 'menu-nav' %></li>
        </ul>
      </li>
      <li class="has-submenu">
        <a href="#" class="menu-nav">About</a>
        <ul class="submenu menu vertical" data-submenu>
          <li><%= link_to 'Staff', staff_path, class: 'menu-nav' %></li>
          <li><%= link_to 'Contact Us', contact_path, class: 'menu-nav' %></li>
        </ul>
      </li>
      <li><%= link_to 'Blog', blog_path, class: 'menu-nav' %></li>
    </ul>
  </div>

  <div class="top-bar-right">
    <ul class="menu" data-responsive-menu="drilldown medium-dropdown">
      <li class="has-submenu">
    
      </li>
      <li><%= link_to 'Free Trial', free_trials_path, class: 'menu-nav' %></li>
      <li><%= link_to 'Contact', contact_path, class: 'menu-nav' %></li>
      <li><%= link_to 'Log In', journals_path, class: 'button expand hide' %></li>
    </ul>
  </div>
</div>