# <% content_for :title, "CrossFit Interchange | Green Valley, Farifield & Cordelia" %>
# <% content_for :description , "CrossFit Interchange is the premiere location for CrossFit and Group classes in Green Valley, Cordelia, Fairfield and Solano CA. Love Getting Fit." %>
# <% content_for :css, 'index.css' %>
# <section class="hero_index">
#   <div class="row hero_text">
#     <div class="small-12 medium-5 medium-push-7 columns">
#       <dl><dt class="gr-header">CrossFit Interchange</dt></dl>
#       <h2 class="center thin-header">Here's to a healthier you.</h2>
#       <%= link_to 'Try us out for free.', free_trials_path, class: 'button link-header text-right' %>
#       <h6><%= link_to 'Learn more about CrossFit >', crossfit_path, :class => 'white-header' %></h6>
#       <h6><%= link_to 'Learn more about Group Classes >', group_classes_path, :class => 'white-header' %></h6>
#     </div>
#   </div>
# </section>
# <div class="row">
#   <div class="small-12 medium-10 columns text-center medium-centered">
#     <h1 class="text-center thin-subheader">CrossFit Interchange. The best gym in Green Valley, Farifield, Cordelia and Solano.</h1>
#   </div>
# </div>
# </div>
# <br/>
# <div class="row">
#   <div class="small-12 medium-4 columns text-center">
#   <%= link_to (image_tag "kb.png", :size => '80x80'), crossfit_path %>
#     <dl class="text-justify">
#       <h5 class="text-center bold opensans">CrossFit is for Everyone</h5>
#       <dd>CrossFit helps forge the athlete in you. Become stronger than you thought possible and change the way you look at yourself. 
#       <blockquote>"Crossfit Interchange has changed the way I look at fitness." - Ron K. </blockquote>
#       </dd>
#       <dt><%= link_to "Read the rest of Ron's story and learn more.", crossfit_path, class: 'opensans' %></dt>
#     </dl>
#   </div>
#   <div class="small-12 medium-4 columns text-center">
#   <%= link_to (image_tag 'community.png', :size => '80x80'), group_classes_path %>
#     <dl class="text-justify">
#       <h5 class="bold text-center opensans">We love community</h5>
#       <dd>Something amazing happens when we become a community, not just a gym. People are excited to see eachother, and see eachother achieve. Your fitness routine transforms from a routine into a lifestyle.</dd>
#     </dl>
#   </div>
#   <div class="small-12 medium-4 columns text-center">
#   <%= link_to (image_tag 'yoga.png', :size => '80x80'), group_classes_path %>
#     <dl class="text-justify">
#       <h5 class="text-center bold opensans">Group classes galore</h5>
#       <dd>We offer yoga, spin classes, TRX, Barre &amp; more. Get yourself in shape one class at a time.</dd>
#       <dt><%= link_to "Learn more about group classes.", group_classes_path, class: 'opensans' %></dt>
#     </dl>
#   </div>
# </div>
# <div class="small-8 small-centered columns"><hr></div>

# <div class="row">
#   <div class="small-12 columns">
#     <div class="meduim-8 small-10 small-centered medium-centerd columns"></div>
#   </div>
# </div>


# <div class="row">
#   <div class="small-10 small-centered columns">
#     <h2 class="text-center">
#       <%= link_to 'Workout of the Day', wod_path, :class => 'opensans' %>
#     </h2>
#   </div>
# </div>

# <div class="row" itemscope itemtype="http://health-lifesci.schema.org/ExercisePlan" >
#   <div class="small-10 medium-6 small-centered columns">
#     <h3 class="text-center opensans">
#       <%= @wod_landing.date.strftime('%A, %b %d WOD') %>
#     </h3>
#     <p class="text-center opensans">
#       <%= @wod_landing.info.html_safe %>
#     </p>
#     <hr>
#   </div>
# </div>
# <div class="row">
#   <div class="small-10 medium-6 small centered columns">
#     <p class="text-center">
#       <strong>[STRENGTH]</strong>
#     </p>
#     <p class="text-center opensans">
#       <%= @wod_landing.strength.html_safe %>
#     </p>
#   </div>
#   <div class="small-10 medium-6 small centered columns">
#     <p class="text-center">
#       <strong>[CONDITIONING]</strong>
#     </p>
#     <p class="text-center opensans">
#       <%= @wod_landing.conditioning.html_safe %>
#     </p>
#   </div>
# </div>