<% content_for :title, "Staff | CrossFit Interchange" %>
<br>
<div class="row">
  <div class="small-10 small-centered columns">
    <h1 class="text-center">
      Meet Our Coaches
    </h1>
  </div>
</div>
  <!-- this adds Foundation Icon Fonts!! -->
<link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">

<div class="row">
<!-- amber -->
  <div class="medium-12 large-6 columns"> 
    <div class="profile-card">
      <%= image_tag ('coaches/amber.jpg'), alt: 'Amber McLeod' %>
      <div class="profile-info">
        <h4 class="subheader">Amber McLeod</h4>
        <p>I started CrossFit when I was 32 years old and just had my 3<sup>rd</sup> son. I didn’t come from an athletic background or play sports in school. I didn’t even know much about CrossFit and I’m sure if I did I would of just stayed home.  Everything was hard and everyone was better. My first WOD was Hellen. I remember  dying on the run. Struggling on the band for pull ups and the 10# plate for the KB swings. I couldn’t understand why people kept showing up. How could this be fun! Definitely didn’t love CrossFit at first. Before I knew it one day turned into weeks and weeks into months and I started to see progress. My clothes started to fit better. More then the way it made me look I loved the way it made me feel. I felt strong for the first time and it was empowering. I was a better mom because of it. A few months later I got my level 1 and started an internship at CF Solano. I’ve been a full time coach since.</p>
        <p>I’m not sure what the future may hold for me. I just know that I love this stuff. I feel like I’m in the best shape of my life and I’m gonna do it until it’s no longer fun for me. I continue to learn a lot about myself and being able to do things I once never imagined I would be doing.</p>
        <p>More then anything I love watching my boys grow up around CrossFit.  The community of hard work, dedication, discipline &amp; building friendships. If I can inspire anyone I hope I inspire them.</p>
        <p><%= link_to 'CrossFit', crossfit_path %> | <%= link_to 'Schedule', crossfit_schedule_path %></p>
        <ul class="inline-list">
          <li><a href="https://www.facebook.com/ZURB"><i class="fi-social-facebook"></i></a></li>
          <li><a href="https://twitter.com/zurbink"><i class="fi-social-twitter"></i></a></li>
          <li><a href="https://github.com/zurb/ink"><i class="fi-social-github"></i></a></li>
      </div>
    </div>
  </div>
  <!-- Mark McGovern -->
  <div class="medium-12 large-6 columns">
    <div class="profile-card">
      <%= image_tag ('coaches/mark.jpg'), alt: 'Mark McGovern' %>
      <div class="profile-info">
        <h4 class="subheader">Mark McGovern</h4>
        <p>Mark's bio here.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam consectetur tincidunt sapien eget blandit. Donec nec volutpat tellus. Nam tincidunt quam sed tristique condimentum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lorem ligula, pretium auctor fermentum ut, tempus eget nibh.</p>
        <p>Donec lorem ligula, pretium auctor fermentum ut, tempus eget nibh.</p>
        <p><%= link_to 'Group Classes', group_classes_path %> | <%= link_to 'Class Schedules', group_classes_schedule_path %></p>
        <ul class="inline-list">
          <li><a href="https://www.facebook.com/ZURB"><i class="fi-social-facebook"></i></a></li>
          <li><a href="https://twitter.com/zurbink"><i class="fi-social-twitter"></i></a></li>
          <li><a href="https://github.com/zurb/ink"><i class="fi-social-github"></i></a></li>
      </div>
    </div>
  </div>
  <!-- Mary Anne Gonser -->
  <div class="medium-12 large-6 columns">
    <div class="profile-card">
      <%= image_tag ('coaches/mary_anne.jpg'), alt: 'Mary Anne Gonser' %>
      <div class="profile-info">
        <h4 class="subheader">Mary Anne Gonser</h4>
        <p>I was born and raised in Marion, IL, and moved to California in 1992. After graduating from St. Louis University, I worked as a journalist, and then devoted myself to being a full-time mom to my two awesome kids.</p>
        <p>Fitness has always been a source of joy for me, going all the way back to the days of doing Jane Fonda workouts in the hallway of my college dorm. When my kids were young, chasing them around, walking my dogs and workout videos were my sources of exercise. In 2013, at the age of 49, I heard my friends talk about TRX. They looked great and it sounded fun, so I decided to give it a try. I joined a gym and became hooked. My goal was to have flatter abs by my 50th birthday. After my first TRX class, I was so sore I could barely lift my arm to brush my bangs out of my eyes! But I loved it, and became a gym regular.</p>
        <p>Today, at 51, I am more fit than I have ever been. In 2014, I became a certified group fitness instructor. I have taught body sculpt, <%= link_to 'yoga', group_classes_path %>, and <%= link_to 'TRX', group_classes_path %>, and recently became qualified to teach ballet <%= link_to 'barre', group_classes_path %> pilates, a class that I love!</p>
        <p><%= link_to 'Group Classes', group_classes_path %> | <%= link_to 'Class Schedules', group_classes_schedule_path %></p>
        <ul class="inline-list">
          <li><a href="https://www.facebook.com/ZURB"><i class="fi-social-facebook"></i></a></li>
          <li><a href="https://twitter.com/zurbink"><i class="fi-social-twitter"></i></a></li>
          <li><a href="https://github.com/zurb/ink"><i class="fi-social-github"></i></a></li>
      </div>
    </div>
  </div>
  <div class="medium-12 large-6 columns">
    <div class="profile-card">
      <%= image_tag ('coaches/brenda.jpg'), alt: 'Brenda' %>
      <div class="profile-info">
        <h4 class="subheader">O.G. Yeti</h4>
        <p>O.G. stands for original gangsta.</p>
        <p><strong>Used in a scentence - </strong>those tru gangstas from way back in the day that jacked ya and left nothing but you boxers and socks. Also, Biggie and Tupac were both O.G.'s</p>
        <p><a href="http://foundation.zurb.com/forum">Forum</a> | <a href="http://foundation.zurb.com/">Website</a></p>
        <ul class="inline-list">
          <li><a href="https://www.facebook.com/ZURB"><i class="fi-social-facebook"></i></a></li>
          <li><a href="https://twitter.com/ZURBfoundation"><i class="fi-social-twitter"></i></a></li>
          <li><a href="https://github.com/zurb/foundation"><i class="fi-social-github"></i></a></li>
      </div>
    </div>
  </div>
  <div class="medium-12 large-6 columns">
    <div class="profile-card">
      <%= image_tag ('coaches/austin.jpg'), alt: 'Austin Largusa' %>
      <div class="profile-info">
        <h4 class="subheader">Swoll Yeti</h4>
        <p>Slang for "Swollen", as in getting "swollen" or "buff" at the gym.</p> 
        <p><strong>Used in a scentence -</strong> Yo, after a couple months at the Y, I'll be a swoll Yeti.</p>
        <p><a href="http://zurb.com/patterntap">Patterns</a> | <a href="http://foundation.zurb.com/apps/">Website</a></p>
        <ul class="inline-list">
          <li><a href="https://www.facebook.com/ZURB"><i class="fi-social-facebook"></i></a></li>
          <li><a href="https://twitter.com/ZURBfoundation"><i class="fi-social-twitter"></i></a></li>
          <li><a href="https://github.com/zurb/foundation-apps"><i class="fi-social-github"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>