<% content_for :title, "Staff | CrossFit Interchange" %>
<% content_for :css, "staff.css" %>
<% content_for :description, "Meet the coaches of CrossFit Interchange" %>
<br>
<div class="row">
  <div class="small-10 small-centered columns">
    <h1 class="text-center">
      Meet Our Coaches
    </h1>
  </div>
</div>
  <!-- this adds Foundation Icon Fonts!! -->
<link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">

<div class="row">
  <% @staff.each do |s| %>
    <div class="medium-12 large-6 columns"> 
      <div class="profile-card">
        <%= image_tag (s.image), alt: s.name %>
        <div class="profile-info">
          <h4 class="subheader"><%= s.name %></h4>
          <p><%= s.bio.html_safe %></p>
          <p><%= link_to 'CrossFit', crossfit_path %> | <%= link_to 'Schedule', crossfit_schedule_path %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>