<% content_for :title, "CrossFit Interchange Journal" %>
<% content_for :description , "" %>
<% content_for :css, 'journals.css' %>


<div class="row ">
	<!-- Menu -->
	<%= render 'menu' %>

	<div class="small-10 medium-11 float-left columns">
		<!-- WOD View -->
		<div class="small-12 columns">
			<div class="row">
			  <div class="small-10 small-centered columns">
			    <h2 class="text-center">
			      <%= link_to 'Workout of the Day', wod_path, class: 'opensans' %>
			    </h2>
			  </div>
			</div>

			<div class="row" itemscope itemtype="http://health-lifesci.schema.org/ExercisePlan" >
			  <div class="small-10 medium-6 small-centered columns">
			    <h3 class="text-center opensans">
			      <%= @wod_landing.date.strftime('%A, %b %d WOD') %>
			    </h3>
			    <p class="text-center opensans">
			      <%= @wod_landing.info.html_safe %>
			    </p>
			    <hr>
			  </div>
			</div>
			<div class="row">
			  <div class="small-10 medium-6 small centered columns">
			    <p class="text-center">
			      <strong>[STRENGTH]</strong>
			    </p>
			    <p class="text-center opensans">
			      <%= @wod_landing.strength.html_safe %>
			    </p>
			  </div>
			  <div class="small-10 medium-6 small centered columns">
			    <p class="text-center">
			      <strong>[CONDITIONING]</strong>
			    </p>
			    <p class="text-center opensans">
			      <%= @wod_landing.conditioning.html_safe %>
			    </p>
			  </div>
			</div>
		</div>

		<!-- Progress Graph -->
		<div class="small-12 columns opensans">
			<h4 class="text-center"> Your last workout</h4>

		</div>
	</div>
</div>