<% content_for :title, "Group Classes Pricing | CrossFit Interchange" %>
<% content_for :description , "CrossFit Interchange offers competitive pricing for our group classes first responders and students." %>
<% content_for :css, 'pricing.css' %>
<!-- Hero -->
<section class="hero_price_gc">
  <div class="row price_hero_gc_text">
    <div class="small-12 large-centered columns"><h1 class="">Class Pricing</h1></div>
  </div>
</section>


<!-- Pricing table, normal situation -->
  <div class="price_header">
    <h1 class="text-center">Group Classes Pricing</h1>
  </div>
  <div class="row"> 
  <div class="medium-4 columns">
     <ul class="pricing-table">
       <li class="title">Class Membership Paid Monthly</li>
       <li class="price">$60
         <br><span>per month</span>
         <hr>
       </li>
       <!-- <li class="bullet-item">Unlimited<span><br>classes per week</span></li> -->
       <li class="cta-button"><%= link_to 'Click for a Free Trial!', free_trials_path, :class => "button"  %></li>
     </ul>
   </div>
   <div class="medium-4 columns">
     <ul class="pricing-table recommended">
         <li class="best"><span>Recommended</span></li>
         <li class="title">One Year of Group Classes Paid Up Front</li>
         <li class="price">$600
         <br><span>per year</span>
         <hr>
         </li>
         <!-- <li class="bullet-item">10<span> classes per week</span></li> -->
         <li class="bullet-item">$120 savings!</li>
         <li class="cta-button"><%= link_to 'Click for a Free Trial!', free_trials_path, :class => "button"  %></li>
      </ul>
   </div>
   <div class="medium-4 columns">
      <ul class="pricing-table">
        <li class="title">Family Membership</li>
        <li class="price">$50
          <br><span>per month</span>
          <hr>
        </li>
        <!-- <li class="bullet-item">10<span> classes per week</span></li> -->
        <li class="cta-button"><%= link_to 'Click for a Free Trial!', free_trials_path, :class => "button"  %></li>
      </ul>
    </div>
  </div>

<!-- Punch Pass/dropin -->
<a name="punch_pass"></a>
  <div class="price_secondary">
    <h1 class="text-center">Punch Pass &amp; Drop-In Pricing</h1>
  </div>
  <div class="row"> 
  <div class="medium-6 columns">
     <ul class="pricing-table">
       <li class="title">CrossFit</li>
       <li class="price">$150
         <br><span>for 10 classes</span>
         <hr>
       </li>
       <li class="bullet-item">$20<span> for one class</span></li>
       <li class="cta-button"><%= link_to 'Click for a Free Trial!', free_trials_path, :class => "button"  %></li>
     </ul>
   </div>

   <div class="medium-6 columns">
      <ul class="pricing-table">
        <li class="title">Group Classes</li>
        <li class="price">$100
          <br><span>for 10 classes</span>
          <hr>
        </li>
        <li class="bullet-item">$15<span> for one class</span></li>
        <li class="cta-button"><%= link_to 'Click for a Free Trial!', free_trials_path, :class => "button"  %></li>
      </ul>
    </div>
  </div>