<% content_for :title, "Group Classes | CrossFit Interchange" %>
<% content_for :description , "We offer a variety of classes at CrossFit Interchange. We have Barre, Core, Spin, TRX &amp; yoga." %>
<% content_for :css, "group_classes.css" %>
<section class="group_class">
  <div class="row price_hero_text">
    <div class="small-6 large-centered columns"><h1 class="text-center">Group Class</h1></div>
  </div>
</section>
<% @gc.each do |gc| %>
<div class="row">
	<div class="small-10 small-centered cloumns">
		<h1 class="text-centered">
			<%= gc.title %> 
		</h1>
	</div>
</div>
<div class="row">
	<div class="small-12 columns">
	<p class="subheader text-justify"><%= gc.length %>min class</p>
		<p class="text-justify">
		<%= gc.description.html_safe %>
		</p>
		<p>
		Check out the <%= link_to 'schedule', group_classes_schedule_path %> and come by to <%= link_to 'try out the class', free_trials_path %>.
		</p>
	</div>
</div>
<% end %>