<h1>Group classes</h1>

<div class="row">
	<div class="small-10 small-centered cloumns">
		<h1 class="text-centered">
			Barre
		</h1>
	</div>
	<div class="small-12 small-centered columns">
		<p class="text-justify">
			Pronounced <i>bar</i> is a combination of Pilates, yoga and ballet resulting in a great workout that gives great results! This workout focuses on strengthning the lower abdominal and leg muscles and helps keep you in shape. Prior dance experience isn't required either. Everyone is welcome to join in no matter you experience level. Stop by to <%= link_to 'try out', free_trial_path %> a barre class and see for yourself.
		</p>
	</div>
</div>
<div class="row">
	<div class="small-10 small-centered cloumns">
		<h1 class="text-centered">
			Core
		</h1>
	</div>
	<div class="small-12 small-centered columns">
		<p class="text-justify">
			Without your core, you'd be nothing. This class focuses on building strength in the core muscles of your lower back and abdomen. Strengthening these areas are key to posture, comfort, overall strength and your fitness in general. Check out the <%= link_to 'schedule', group_classes_schedule_path %> and come by to <%= link_to 'try out the class', free_trial_path %>.
		</p>
	</div>
</div>

<div class="row">
	<div class="small-10 small-centered cloumns">
		<h1 class="text-centered">
			Spin
		</h1>
	</div>
	<div class="small-12 small-centered columns">
		<p class="text-justify">
			We're going nowhere and we're going to take our time. Don't get this confused with relaxation though! Our spin classes offer an extremely effective workout that will get you sweating. This class is for everyone who wants to get in better shape, from someone who hasn't set foot in a gym for years to the champion of the Tour de France. All are welcome. Check out the <%= link_to 'schedule', group_classes_schedule_path %> and come by to <%= link_to 'try out the class', free_trial_path %> and get spinnin.
		</p>
	</div>
</div>

<div class="row">
	<div class="small-10 small-centered cloumns">
		<h1 class="text-centered">
			TRX
		</h1>
	</div>
	<div class="small-12 small-centered columns">
		<p class="text-justify">
			TRX... Check out the <%= link_to 'schedule', group_classes_schedule_path %> and come by to <%= link_to 'try out the class', free_trial_path %>.
		</p>
	</div>
</div>

<div class="row">
	<div class="small-10 small-centered cloumns">
		<h1 class="text-centered">
			Yoga
		</h1>
	</div>
	<div class="small-12 small-centered columns">
		<p class="text-justify">
			Yoga is pretty popular. Just sayin... Check out the <%= link_to 'schedule', group_classes_schedule_path %> and come by to <%= link_to 'try out the class', free_trial_path %>.
		</p>
	</div>
</div>