<% content_for :title, "Group Classes | CrossFit Interchange" %>
<% content_for :description , "We offer a variety of classes at CrossFit Interchange. We have Barre, Core, Spin, TRX &amp; yoga." %>
<section class="group_class">
  <div class="row price_hero_text">
    <div class="small-6 large-centered columns"><h1 class="text-center">Group Class</h1></div>
  </div>
</section>

<div class="row">
	<div class="small-10 small-centered cloumns">
		<h1 class="text-centered">
			Barre 
		</h1>

	</div>
</div>
<div class="row">
	<div class="small-12 columns">
	<p class="subheader text-justify">60 min class</p>
		<p class="text-justify">
			The Barre Method is a fast, safe form of interval exercises that quickly reshapes muscles through intense stretching and aerobics. The bar is used as a prop to balance while focuses on isometric strength training combined with high reps of small range of motion movements. This method is great for varying body types, ages and fitness levels.
		</p>
		<p>
		Check out the <%= link_to 'schedule', group_classes_schedule_path %> and come by to <%= link_to 'try out the class', free_trial_path %>.
		</p>
	</div>
</div>
<div class="row">
	<div class="small-10 small-centered cloumns">
		<h1 class="text-centered">
			Core 
		</h1>

	</div>
</div>
<div class="row">
	<div class="small-12 columns">
	<p class="subheader text-justify">30 min class</p>
		<p class="text-justify">
			This is a 30 min class of hardcore abdominal work. It focuses on toning and defining the abs and strengthening the back to improve posture and core strength. Exercises are performed using TRX straps, Bosu Balls, Fit Balls and/or lying on the floor.
		</p>
		<p>
		Check out the <%= link_to 'schedule', group_classes_schedule_path %> and come by to <%= link_to 'try out the class', free_trial_path %>.
		</p>
	</div>
</div>
<div class="row">
	<div class="small-10 small-centered cloumns">
		<h1 class="text-centered">
			Spin 
		</h1>

	</div>
</div>
<div class="row">
	<div class="small-12 columns">
	<p class="subheader text-justify">60 min class</p>
		<p class="text-justify">
			Indoor cycling is a fun, athletic, high-energy workout that can burn as much as 1,000 calories per hour. This type of training involves both endurance intervals and cardio work that keeps the pressure off the joints and feet.
		</p>
		<p>
		Check out the <%= link_to 'schedule', group_classes_schedule_path %> and come by to <%= link_to 'try out the class', free_trial_path %>.
		</p>
	</div>
</div>
<div class="row">
	<div class="small-10 small-centered cloumns">
		<h1 class="text-centered">
			TRX 
		</h1>

	</div>
</div>
<div class="row">
	<div class="small-12 columns">
	<p class="subheader text-justify">60 min class</p>
		<p class="text-justify">
			TRX suspension training is a safe and effective way to sculpt muscles, lose weight and achieve general fitness. Professional athletes in tennis, golf, triathlons, swimming, and surfing amongst others are turning to this type of training which uses bodyweight and gravity to develop strength, balance, flexibility and joint stability. Get ready to push, pull, lift &amp; lower your body for a total body workout. 
		</p>
		<p>
		Check out the <%= link_to 'schedule', group_classes_schedule_path %> and come by to <%= link_to 'try out the class', free_trial_path %>.
		</p>
	</div>
</div>
<div class="row">
	<div class="small-10 small-centered cloumns">
		<h1 class="text-centered">
			Yoga 
		</h1>

	</div>
</div>
<div class="row">
	<div class="small-12 columns">
	<p class="subheader text-justify">60 min class</p>
		<p class="text-justify">
			Yoga allows for the unfolding of beauty in all its forms. This class focuses on everything from breath awareness, connection, alignment, flexibility, balance, relaxation and strength. The techniques are a dynamic flow of movement and stillness, which brings transformation at all levels - body, mind and spirit.
		</p>
		<p>
		Check out the <%= link_to 'schedule', group_classes_schedule_path %> and come by to <%= link_to 'try out the class', free_trial_path %>.
		</p>
	</div>
</div>